.counter {
    font-size: 2rem;
    font-weight: 600;
    color: #0a2b1e;
  }
  
  .counter__title {
    font-size: 1rem;
    color: #0a2b1e;
    font-weight: 500;
  }
  
  .products__content {
    
    padding-left: 50px;
    padding-bottom: 10px;
  }
  
  .products__img img {
    border-radius: 40px !important;
    width:80%  !;
    margin-top: -40px  !important ;
  }
  button {
    border-radius: 5px ;
    margin:5px !important;
  } 

  .products__content h3 {
    text-align: left !important;
    margin-top: 50px !important;
    font-weight: 600;
    color: rgba(26, 24, 24, 0.63) !important;
    font-size: 40px;
    padding:10px 10px 20px 0;
  }
  .fa {
    color:#ffb236 !important ; 
    padding: 0 10px  0 0  !important ;
  }
  .products__content p {
    color : grey !important ;
  }
  .products__content h4{
    color: #ffb236 !important;
    font-size:15px;
    letter-spacing: 2px;
  }
  .products__content h4:hover{
    transform: scale(1.01);
  }
  
  