.counter {
    font-size: 2rem;
    font-weight: 600;
    color: #fff !important;
    
  }
 .Zal {
    background-color: #8260D0 !important;
    padding:40px;
 }
  .counter__title {
    font-size: 1rem;
    color: #fff !important;
    font-weight: 500;
  }
  .demo__content {
    text-align: center !important;
    align-items: center !important;
  }
  .demo__content h2{
   
    padding-left: 50px;
    padding-bottom: 10px;
    color :#fff !important;
  }
 .demo__content p {
    color:#fff !important;
 }

    .demo__content button {
        background-color: #fff !important;
        color:#8260D0 !important;
        border-radius: 10px;
        
       
    }
  .demo__img video {
    margin-top: 0px !important;
    width:100%;
    margin-left: -30px !important;
    border-radius: 10px !important;
    
    z-index: 2;
   
    
  }
  
  .demo__content h2 {
    margin-top: 50px !important;
    font-weight: 600;
    text-align: center !important;
  }
  .demo__content h4{
    color: #8260D0 !important;
    font-size:15px;
    letter-spacing: 2px;
  }
  .demo__content h4:hover{
    transform: scale(1.01);
  }
  .demo__content h2:after{
    display:block;
    height:10px;
    background-color: #fff;
    content:''; 
    width:140px;
    border-radius: 20px;
    margin: 12px auto;
    text-align: center;
  
  
  }
 