.coursesCard {
    padding: 50px 0;
  }
  .coursesCard .items {
   
    border-radius: 30px;
    padding: 30px;
    text-align: center;
  }
  .coursesCard .img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
   

    
    padding: 15px;
  }
  .coursesCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .coursesCard .text {
    margin-left: 15px;
    text-align: left;
  }
 
  .coursesCard .text h1 {
    font-size: 25px;
    
    text-align: left;
    color : rgba(68, 68, 68, 0.63)  ;
    line-height: 45px;
  }
  .coursesCard .rate {
    margin: 20px 0;
    margin-left:70px;
    color: #ffb236  }
  .coursesCard .rate i {
    font-size: 13px;
    margin-right: 10px;
  }
  .coursesCard .details .dimg img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top:-20px;
    margin-right: 30px;
  }
  .coursesCard .details .box {
    display: flex;
    align-items: center;
    color: rgba(68, 68, 68, 0.63);
    
  }
  .coursesCard .details span {
    display: none;
    color: #FFB236;
    font-weight: 100;
    font-size: 14px;
  }
  .coursesCard .price {
    margin: 30px 0;
   
    border-radius: 30px;
    padding: 10px;
  }
  .courseCard h5{
    font-size: 10px !important;
  }
  .coursesCard h3 {
    font-size: 18px;
    font-weight: 500;
    color : rgba(68, 68, 68, 0.63)  ;
  }
  /*-------------online---------*/
  .online {
    text-align: center;
    padding:30px !important;
  }

  .online h1{
    color:#FFB236;
  }
  #textCourse p {
    color:red !important;
  }
  .online .box {
   
    background-color: transparent !important;
    border-radius: 20px;
    padding: 30px 20px;
    transition: 0.5s;
  }
  .online .img {
    width: 80px;
    height: 80px;
    margin: auto;
    position: relative;
  }
  .online img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .online h1 {
    margin-top:-20px!important;
    font-size: 15px;
    color:#666666 !important;
    margin: 20px 0;
    line-height: 30px;
  }
  .online span {
 
    padding: 5px 20px;
    font-weight: 500;
    font-size: 10px;
    color: #ffb236;
    border-radius: 5px;
  }
  .online .box .show {
    opacity: 0;

  }
  .online .box:hover {
   
    border-radius: 10px;
    cursor: pointer;
  
  }
  .box p{
    text-align: center !important;
  }
  .box .CourseName {
    font-size: 22px !important;
  }

  .online .box:hover .show {
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
  }
  .online .box:hover h1 {
    color: #fff;

  }
  /*-------------online---------*/
  @media screen and (max-width: 768px) {
  }